<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <span>Medium simplified</span>
        <span>Search</span>
        <span>Write</span>
        <span>Profile</span>
    </div>
    <div>
        {% blockcontent %}
        {% endblock %}
    </div>
    <div class="footer">
        <div>
            <a href="">
                <h4>Contact us</h4>
            </a>
        </div>
    </div>
</body>
</html>